.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}
.formLarge {
  border: 1px solid red;
}

.labelText {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 18px;
}
